* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 1100px;
    margin: auto;
}

a,
p,
h1,
h2,
h3 {
    font-family: 'Raleway';
}

a,
p {
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}